# build output
dist/
# generated types
.astro/

# dependencies
node_modules/
node_modules_old_broken/

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.production

# macOS
.DS_Store

# jetbrains
.idea/

# preview server artifacts
preview.log
